/* Дополнительные системные стили */
/* начинаются с префикса sys- */

[x-cloak] {
    display: none;
}

.sys-hidden {
    display: none !important;
}

.sys-pointer {
    cursor: pointer;
}

/* Текст под заголовком формы авторизации */
.sys-text-form {
    font-weight: 400;
    text-align: center;
    color: #000000;
    /*max-width: 320px;*/
    margin: 0 auto 23px;
    font-size: 12px;
    line-height: 150%;
}

/* Убрать синий фон у фото пользователя */
.sys-profile-image {
    background: transparent;
}

/* Запрет выделения */
.sys-no-select {
    user-select: none;
}

/* Новый класс для кнопки в хедере, потому что к старому привязан JS */
.sys-header-button {
    margin-right: 16px;
    display: block;
    max-width: 168px;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #E1E1E1;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    flex-shrink: 0;
    padding: 4px 0 8px 0;
}

.sys-header-button span {
    font-weight: normal;
    font-size: 12px;
    line-height: 100%;
    color: #424552;
    margin-right: 12px;
}

.sys-header-button img {
    display: inline-block;
}

.content-box__top-line .sys-header-button {
    max-width: 198px;
    width: 100%;
    margin-left: 43px;
}

.sys-company-not-found {
    color: #ababab !important;
    font-size: 12px;
    padding: 26px 36px;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 21px;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
}

.sys-company-not-found:hover {
    -webkit-box-shadow: 0px 13px 28px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 13px 28px rgba(0, 0, 0, 0.05);
}

.sys-admin-link {
    border-top: 1px solid #E1E1E1;
}

.sys-placeholder p {
    color: #ccc;
    user-select: none;
}

.sys-big-font {
    font-size: 14px;
}

.sys-form {
    margin-bottom: 20px;
    cursor: pointer;
}

.sys-help {
    font-size: 12px;
    color: #656565cc;
    margin-top: -5px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.sys-help a {
    color: #2E5BFF;
    text-decoration: none;
    display: inline-block;
    border-bottom: 1px dashed #2E5BFF;
}

.sys-help-actions {
    display: flex;
    justify-content: flex-end;
}

.sys-help-actions span {
    display: block;
    margin: 0 15px;
}

a.sys-help-cancel {
    color: #4a4949;
    border-color: #4a4949;
}

.sys-form-btns {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.sys-form-btns button:last-child {
    margin-left: 20px;
}

.sys-form-btns .btn-blue {
    display: inline-block;
    max-width: 100%;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    padding: 12px 17px 12px 17px;
    background: #2E5BFF;
    border-radius: 10px;
    color: #fff;
}


.sys-form-btns .btn-white {
    display: inline-block;
    max-width: 100%;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    padding: 12px 17px 12px 17px;
    background: #fff;
    border: 1px solid #2E5BFF;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 10px;
    color: #2E5BFF;
}


/** override style.css 06-08-2021  */
.info-item-title-box {
    margin-right: 0px;
}

.form-contragent-wrap-search {

}

.form-contragent-wrap-search .contragent-form__item {
    width: 100%;
    max-width: 100%;
}

.form-contragent-wrap-search .contragent-form {
    position: relative;
    background: #fff;
    border-radius: 10px 10px 0 0;
    padding: 35px 36px 20px 36px;
    border-bottom: 1px solid #F2F2F2;
}

.form-contragent-wrap-no-border-radius .contragent-form {
    border-radius: 0 0 10px 10px;
}

.js-hidden-contragent-item {
    display: none;
}

.found-company {
    /*display: none;*/
}

.found-company-closed {
    margin-bottom: 25px;
}

.found-company-closed .message-form {
    margin-left: 0;
}

.found-company-item {
    margin-bottom: 4px;
    display: block;
    width: 100%;
}

.found-company-item span {
    display: block;
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    color: #96979B;
    margin-bottom: 8px;
}


.found-company-item b {
    display: block;
    margin-bottom: 8px;

    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    height: 45px;
    color: #424552;
}

.found-company-detail a {
    font-size: 14px;
    color: #2E5BFF;
    text-decoration: none;
    border-bottom: 1px #2E5BFF dashed;
}

.form-btns {
    border-top: 1px solid #F2F2F2;
}

input:focus,
textarea:focus,
select:focus {
    border-color: #2E5BFF;
}

.com-ACTIVE {
    color: #2E5BFF !important;
}

.com-LIQUIDATING,
.com-LIQUIDATED {
    color: #e4242d !important;
}

.com-BANKRUPT,
.com-REORGANIZING {
    color: #FC5F07 !important;
}

.message-form a {
    color: initial;
    text-decoration: underline;
}

.message-toast {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 999;
    height: auto;
    background: transparent;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(130, 130, 130, .5) 70%);
    opacity: 0;
    margin-top: -150px;
    height: 150px;
    user-select: none;
    display: none;
}

.message-toast .message-toast-show {
    display: block;
    -webkit-animation-name: slidein;
    -webkit-animation-duration: .5s;
    -webkit-animation-fill-mode: forwards;
}

.message-toast .message-form {
    margin: 25px auto;
    -webkit-box-shadow: 0px 13px 28px rgb(0 0 0 / 5%);
    box-shadow: 0px 13px 28px rgb(0 0 0 / 5%);
}

@keyframes slidein {
    from {
        margin-top: -150px;
        opacity: 0;
    }

    to {
        margin-top: 0px;
        opacity: 1;
    }
}

.swal2-container {
    font-weight: 500;
    font-family: 'Montserrat', sans-serif !important;
}

.message-ok-margins {
    margin-left: 0;
    margin-bottom: 25px;
}

.info-item-top__left span.in-work2 {
    min-width: 84px;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.contragent-form-border-bottom {
    border-bottom: 1px solid #F2F2F2;
}

.btn-cancel {
    display: block;
    max-width: 196px;
    width: 100%;
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    background: #e0e0e0;
    border-radius: 10px;
    padding: 16px 0 15px 0;
    color: #000;
    margin-top: 36px;
}

.edit-form-btns {
    display: flex;
    justify-content: flex-end;
    border: none;
}

.personal-form {
    border: none;
    padding: 0;
}

.events-item-info-note a {
    color: #2E5BFF;
    font-size: 12px;
}

.form-new-task__box {
    align-items: flex-start;
}

.form-new-task__item-100 {
    width: 100%;
}

.task .events-item-date::before {
    background: #4CC5AB;
}

.contact .events-item-date::before {
    background: #F1DA89;
}

.task .events-item-info::before {
    background: #4CC5AB;
}

.contact .events-item-info::before {
    background: #F1DA89;
}

.container-compatibility {
    max-width: 1562px;
    width: 100%;
    padding: 0 16px;
    position: relative;
    margin: 0 auto;
}

.average::before {
    background: #DFBC41;
}

.regular::before {
    background: #4CC5AB;
}

.critical::before {
    background: #F14D75;
}

.plans-request-form {
    display: block;
}

.plans-request {
    margin-top: 0px;
}

.plans-calendar {
    margin-bottom: 26px;
}

.p0important {
    padding: 0 !important;
}

.date-plan-item .quote {
    font-weight: 300;
    font-size: 13px;
}

.custom-nice-select {
    margin-bottom: 26px;
}

.custom-nice-select .nice-select {
    float: none;
}

.task-expired .time-start {
    color: #ff2e2e;
}

.task-expired .time-finish {
    font-weight: 300;
    font-size: 10px;
}

.plans-success {
    width: 100%;
}

.plans-success .message-form {
    margin-top: 0;
    width: 100%;
    margin-bottom: 26px;
}

.task-expired-message .message-form {
    margin-top: 0;
    width: 100%;
    margin-bottom: 26px;
}


.request-info__item b.task-status-color1 {
    color: #2E5BFF;
}

.request-info__item b.task-status-color2 {
    color: #DFBC41;
}

.request-info__item b.task-status-color3 {
    color: #4CC5AB;
}

.request-info__item b.task-status-color4 {
    color: #F14D75;
}

.request-info__item b.task-status-color5 {
    color: #FC5F07;
}

.request-info__priority i {
    display: inline-block;
    width: 11px;
    height: 11px;
    content: "";
}

.request-info__priority_regular i {
    background: #4CC5AB;
}

.request-info__priority_average i {
    background: #DFBC41;
}

.request-info__priority_critical i {
    background: #F14D75;
}

.messages-box__empty {
    font-size: 14px;
    margin-bottom: 26px;
    color: #797979;
}

.send-message-loading {
    background-image: url(../img/loader.svg);
    border-radius: 12px;
    background-color: #2d5bff;
    background-size: 20px;
}

.remove-task-box {
    margin-top: 78px;
}

.remove-task {
    color: #fff;
    font-size: 12px;
    display: block;
    width: 100%;
    background: #F14D75;
    border-radius: 10px;
    padding: 10px 15px;
    box-sizing: border-box;
    text-align: center;
}

.sys-custom-select .nice-select {
    width: 100%;
    float: none;
    border-radius: 10px;
}

.sys-custom-select .nice-select .current {
    font-size: 13px;
}

.btn-blue-sys-fix {
    display: inline-block;
    width: auto;
    padding-left: 30px;
    padding-right: 30px;
}

.sys-flex-right {
    display: flex;
    justify-content: flex-end;
}

.sys-fix-title .date-plan-item .title {
    margin-bottom: 29px;
}

.sys-fix-input {
    margin-bottom: 25px;
}

.sys-fix-input input {
    display: block;
    width: 100%;
    border: 1px solid #EAEAEA;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 12px;
    padding: 0 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    height: 45px;
    color: #424552;
    margin-bottom: 0;
}

.btn-unlink {
    background-image: url(../img/unlink.svg);
    background-size: 11px;
}

.btn-unlink::before {
    content: 'открепить';
    display: block;
    top: -17px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background: #E8E8E8;
    border-radius: 71px;
    font-weight: bold;
    font-size: 5px;
    line-height: 6px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    letter-spacing: 0.34em;
    text-transform: uppercase;
    color: #000000;
    padding: 3px 5.5px 3px 5px;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    opacity: 0;
}

.btn-task {
    background-image: url(../img/task.svg);
    background-size: 11px;
}

.btn-task::before {
    content: 'задача';
    display: block;
    top: -17px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background: #E8E8E8;
    border-radius: 71px;
    font-weight: bold;
    font-size: 5px;
    line-height: 6px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    letter-spacing: 0.34em;
    text-transform: uppercase;
    color: #000000;
    padding: 3px 5.5px 3px 5px;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    opacity: 0;
}

a.sys-elem-item-box-title-a {
    display: block;
}

.sys-form-help {
    font-size: 10px;
    color: #656565;
}

.sys-form-company {
    background: #fff;
    border-radius: 10px;
    padding: 36px;
    margin-bottom: 36px;
}

.sys-form-company_row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

@media all and ( min-width: 720px ) {
    .sys-form-company_row--md {
        flex-direction: row;
    }
}

.sys-form-company_row .sys-form-company_col {
    flex: 1;
    padding: 12px;
}

.sys-form-company_col label {
    display: block;
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    color: #96979B;
    margin-bottom: 8px;
}

.sys-form-company_col input {
    display: block;
    width: 100%;
    border: 1px solid #EAEAEA;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 12px;
    padding: 0 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    height: 45px;
    color: #424552;
    margin-bottom: 0;
}

.sys-form-company_col input:focus {
    border-color: #2E5BFF;
}

.sys-form-company-inputs,
.sys-form-company-buttons {
    margin-top: 36px;
    padding-top: 36px;
    border-top: 1px solid #F2F2F2;
}

.sys-form-company-buttons button,
.sys-form-company-error button {
    margin-right: 26px;
}

.sys-form-company-error {
    margin-top: 36px;
}

.sys-form-company-error .message-form {
    margin: 0;
    margin-bottom: 36px;
}

.sbtn {
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    text-align: center;
    padding: 14px 28px 14px 28px;
    border-radius: 10px;
}

.sbtn-blue {
    background: #2E5BFF;
    color: #FFFFFF;
}

.sbtn-white {
    background: #EAEAEA;
    color: #000000;
}

.wrap-form .form-item input {
    color: #000;
}

.sys-form-company_col .nice-select {
    max-width: 100%;
    width: 100%;
    height: 45px;
    border: 1px solid #EAEAEA;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 12px;
}

.contragent-form__item_info {
    background: #f4f6f6;
    padding: 15px 20px 18px 20px;
}

.contragent-form__item_info span {
    font-size: 11px;
    color: #96979b;
}

.message-inline {
    margin-top: 0;
    display: inline-block;
}

.alfavite-box {
    border: 1px #e1e1e1 solid;
    border-radius: 10px;
    -webkit-box-shadow: 0px 13px 28px rgb(0 0 0 / 5%);
    box-shadow: 0px 13px 28px rgb(0 0 0 / 5%);
}

.alfavite a {
    line-height: 195%;
}

.searched {
    display: inline-block !important;
    background: #c1cfff;
    border-radius: 4px;
    padding: 1px 2px;
}

.sys-pb-0 {
    padding-bottom: 0px;
}

.sys-info {
    color: #a0aec0;
    font-size: 12px;
    margin-bottom: 30px;
    text-align: right;
    padding-right: 10px;
}

.info-item-address b i {
    color: #424552;
    font-style: normal;
}

.events-item-title {
    font-size: 13px;
}

.form-new-task__box div:first-child {
    width: 58%;
}

.form-new-task__box div:last-child {
    width: 38%;
}

.form-new-task__box .nice-select {
    width: 100% !important;
    max-width: 100%;
    margin-bottom: 20px;
}

input {
    color: #000;
}

.new-task textarea {
    font-weight: 400;
}

.form-new-task__box .nice-select {
    border-radius: 10px;
}

.ss-order .events-item-date::before {
    background: #4CC5AB;
}

.ss-offer .events-item-date::before {
    background: #F1DA89;
}

.ss-task .events-item-date::before {
    background: #a7c7f1;
}

.ss-call .events-item-date::before {
    background: #4b43f1;
}

.events-item-date::before {
    display: none; /* временно, это метка "не просмотрено" */
}

.ss-order .events-item-info::before,
.ss-order::before {
    background: #4CC5AB;
}

.ss-comment .events-item-info::before,
.ss-comment::before {
    background: #c59652;
}

.ss-offer .events-item-info::before,
.ss-offer::before {
    background: #F1DA89;
}

.ss-call .events-item-info::before,
.ss-call::before {
    background: #4b43f1;
}

.ss-container {
    width: 100%;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 40px 36px;
}

.contacts-list input {
    height: auto;
}

.contacts-list input:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.ss-table-search {
}

.ss-table-search-box {
    height: 45px;
    background: #FFFFFF;
    border: 1px solid #E1E1E1;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    margin-bottom: 40px;
}

.ss-table-search-box-icon {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.ss-table-search-box input {
    border: none;
    border-radius: 10px;
    font-weight: normal;
    font-size: 12px;
    line-height: 100%;
    color: #000;
}

.ss-table-search-table {

}

.ss-table-search-table [type='text'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    border-color: #6b7280;
    border-width: 1px;
    border-radius: 0px;
    padding-top: 0.5rem;
    padding-right: 0.75rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    font-size: 1rem;
    line-height: 1.5rem;
}

.ss-table-search-table table {
    min-width: 100%;
}

.ss-table-search-table th {
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    color: #96979B;
    text-align: left;
    padding: 1rem 1.5rem;
    border-bottom-width: 1px;
    border-color: #E1E1E1;
}

.ss-table-search-table td {
    padding: 1rem 1.5rem;
    font-weight: 500;
    font-size: 13px;
    line-height: 100%;
    color: #424552;
    vertical-align: top;
    border-bottom-width: 1px;
    border-color: #f1f1f1;
}

.ss-table-search-table .nopadding {
    padding: 0 1.5rem;
}

.ss-table-search-table .nopadding2 {
    padding: 0 1.5rem;
}

.ss-table-search-table a {
    color: #00257b;
    text-decoration: none;
    display: block;
    padding: 1rem 0;
}

.ss-table-search-table-collapsed .linkblock {
    overflow: hidden;
    height: 47px;
}

.ss-table-search-table-uncollapsed .linkblock {
    overflow: inherit;
    height: auto;
}

a.ss-table-btn {
    padding: 0.5rem 0 !important;
    transition: all .5s linear;
}

.ss-table-btn span {
    display: inline-block;
    text-align: center;
    border: 1px solid #E1E1E1;
    padding: 0.5rem 1rem;
    width: 100%;
    border-radius: 10px;
    font-size: 12px;
}

a.ss-table-btn:hover span {
    background: #00257b;
    border-color: #00257b;
    color: #fff;
}

.ss-table-search-table td.ss-table-help {
    font-size: 12px;
}

.table-td a {
    font-size: 12px;
}

.plans-request {
    padding-bottom: 52px;
}

.bundle-box {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin-bottom: 40px;
}

.bundle-box-column {
    width: 50%;
    box-sizing: border-box;
}

.bundle-box-tile {
    background: #fff;
    border-radius: 10px;
    padding: 40px;
}

.bundle-box-column:first-child {
    margin-right: 15px;
}

.bundle-box-column:last-child {
    margin-left: 15px;
}

.bundle-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: #444444;
    text-align: left;
    margin-bottom: 28px;
    text-transform: none;
}

.bundle-subtitle {
    margin-top: 10px;
    font-size: 13px;
    font-weight: 300;
}

.bundle-subtitle a {
    color: #2E5BFF;
}

.bundle-search {
    border-radius: 10px;
    border: 1px solid #E1E1E1;
    display: flex;
    height: 45px;
    box-sizing: border-box;
    margin-bottom: 28px;
}

.bundle-search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bundle-search-input {
    box-sizing: border-box;
    flex: 1;
}

.bundle-search-input input {
    height: 43px;
    border: none;
}

.bundle-list {

}

.bundle-item {
    border-radius: 10px;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    border: 1px #E1E1E1 solid;
    padding: 28px 26px;
    margin-bottom: 28px;
    align-items: center;
}

.bundle-item-item-col b {
    display: block;
    font-weight: 600;
    font-size: 10px;
    line-height: 100%;
    color: #96979B;
    margin-bottom: 6px;
}

.bundle-item-item-col span {
    display: block;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    color: #424552;
}

.bundle-add-btn a {
    display: block;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    text-align: center;
    color: #FFFFFF;
    background: #2E5BFF;
    padding: 14px;
    box-sizing: border-box;
    border-radius: 10px;
}

.c-status {
    display: inline-flex;
    padding: 8px 10px;
    border-radius: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 100%;
    align-items: center;
    text-align: center;
    background: #E5E5E5;
    color: #000;
}

.c-status-1 { /* Проработка */
    color: #CDA54B;
    background: #FCEEBC;
}

.c-status-2 { /* Действующий - разовый */
    color: #4CC5AB;
    background: #DFFAF4;
}

.c-status-3 { /* Действующий - постоянный */
    color: #4CC5AB;
    background: #DFFAF4;
}

.c-status-4 { /* Закрыт */
    color: #F14D75;
    background: #FDE4E6;
}

.c-status-5 { /* Свободный агент */
    color: #848484;
    background: #DDDDDD;
}

a.add-contact {
    display: flex;
    font-size: 12px;
    border-radius: 10px;
    background: #FFFFFF;
    border: 1px solid #E1E1E1;
    padding: 8px 26px;
}

a.add-contact:hover {
    background: #2E5BFF;
    border-color: #2E5BFF;
    color: #fff;
}

.profile_a {
    padding-right: 22px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: auto;
    cursor: pointer;
}

.profile_a::after {
    content: '';
    display: block;
    position: absolute;
    top: 13px;
    right: -1px;
    width: 10px;
    height: 6px;
    background: url(../img/arr-down.svg) no-repeat center;
    transition: all linear .2s;
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    -ms-transition: all linear .2s;
    -o-transition: all linear .2s;
}

.browser-date-range {
    display: flex;
}

.browser-date-range input::before {
    display: block;
    width: 20px;
    content: "с";
    font-weight: normal;
    font-size: 12px;
    line-height: 100%;
    color: #424552;
}

.browser-date-range input {
    margin-bottom: 0;
}

.browser-date-range input.last::before {
    display: block;
    width: 20px;
    content: "по";
    font-weight: normal;
    font-size: 12px;
    line-height: 100%;
    color: #424552;

}

.browser-date-range input.last {
    margin-left: 10px;
}

.blacklink {
    color: #000;
    font-size: 14px;
    text-decoration: none;
    border-bottom: 1px #000 solid;
}

.notice-item {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    padding: 26px 36px;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 21px;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    border-left: 2px #fff solid;
}

.notice-item:hover {
    -webkit-box-shadow: 0px 13px 28px rgb(0 0 0 / 5%);
    box-shadow: 0px 13px 28px rgb(0 0 0 / 5%);
}

.notice-item-heading {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.notice-item-title {
    font-weight: 600;
    position: relative;
}

.notice-item-date {
    color: #ababab !important;
}

.notice-item-body{
    margin-top: 5px;
}

.notice-item-new{
    border-left: 2px #0a53be solid;
}


.notice-pagination{
    display: flex;
    justify-content: flex-end;
}

.notice-pagination a{
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 15px;
    border: 1px #fff solid;
    border-left: none;
    background: #fff;
}

.notice-pagination a:first-child{
    border-left: 1px #fff solid;
    border-radius: 5px 0 0 5px;
}

.notice-pagination a:last-child{
    border-radius: 0 5px 5px 0;
}

.notice-pagination a:hover{
    background: rgba(10, 83, 190, 0.2);
}

.notice-pagination a.active{
    background: rgba(10, 83, 190, 0.5);
}

.settings-list{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    padding: 26px 36px;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 21px;
}

.form-row{
    display: block;
    margin: 10px 0;
}

.settings-title{
    font-weight: bold;
    font-size: 10px;
    line-height: 100%;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #878DA3;
    margin-bottom: 20px;
}
